@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.hidden{
    display: none !important;
} 
.shown{
    display: block !important;
}
#dropdown{
    display: none;
}
body{
    font-family: 'Barlow', sans-serif;
    color: #24303E;
}
#hero h1, h2, .underline{
    font-family: 'Fraunces', serif;
}
a{
    text-decoration: none;
    color: black;
}
p{
    line-height: 30px;
}
#hamburger-menu{
    display: none;
}
#logo{
    max-height: 33px;
}
nav{
    width: 100vw;
    margin-top: 37px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
}
nav .navmargin{
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
}
nav ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: right;
}
nav ul li{
    margin-right: 47px;
}
nav ul li:last-of-type{
    margin: 0;
}
nav ul li a{
    color: white;
}

.button{
    transition: ease 150ms;
    transition-property: color, background-color;
    border-radius: 23px;
    padding: 15px 30px 15px 30px;
    color: black;
    background-color: rgba(255, 255, 255, 1);
}
.button:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.23);
}
#hero{
    background-image: url(./images/desktop/image-header.png);
    background-size: cover;
    background-position: bottom;
    height: 700px;
    display: grid;
    place-items: center;

}
#hero h1{
    font-size: 56px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
#grid{
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
#grid article{
    height: 600px;
    display: grid;
    place-items: center;
}
#grid article div{
    max-width: 60%;
}
.grey{
    color: #808397;
}
.underline{
    font-size: 18px;
    position: relative;
}
.underline::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -5px;
    z-index: -1;
    width: 110%;
    height: 40%;
    border-radius: 50px;
  }
.yellow::before{
    background-color: #FAD400;
}
.red::before{
    background-color: #FE7766;
}
h2{
    font-size: 40px;
}
article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#graphic-design{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-position: center;
    color: #24554A;
    text-align: center;
}
#photography{
    background-image: url(./images/desktop/image-photography.jpg);
    background-position: center;
    color: #052C3B;
    text-align: center;
}
#graphic-design div, #photography div{
    align-self: end;
    margin-bottom: 100px;
}
#graphic-design h2, #photography h2{
    font-size: 28px;
}
#graphic-design p, #photography p{
    font-size: 18px;
}
#testimonials{
    text-align: center;
    margin-top: 160px;
}
#testimonials-title{
    font-size: 20px;
    color: #A7AAAD;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.cardmargin{
    display: flex;
    margin: 40px;
    margin-top: 81px;
}
.card{
    color: #5B636D;
    line-height: 32px;
    margin-left: 40px;
    margin-right: 40px;
}
.card img{
    height: 72px;
    width: 72px;
    border-radius: 50%;
}
.card p:first-of-type{
    margin-top: 50px;
}
.card p:last-of-type{
    font-size: 14px;
    color: #A7AAAD;
    line-height: 25px;
}
.card h2{
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 10px;
}
#image-banner{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#image-banner img{
    width: 100%;
}
#footer{
    display: grid;
    place-items: center;
    background-color: #90D4C6;
    color: #2C7566;
    padding-bottom: 80px;
}
#footer-image{
    margin-top: 70px;
    fill: #2C7566;
}
#footer div:first-of-type{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
#logo-container{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
#footer a{
    color: #458D7E;
}
#footer a:hover{
    color: white;
}

@media screen and (max-width: 700px){
 
    #hamburger-menu{
        display: inline-block;
        position: fixed;
        cursor: pointer;
        right: 50px;
    }
    #dropdown{
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        height: 100vh;
        width: 60%;
        background-color: rgba(255, 255, 255, 0.90);
        
    }
    #desktop-nav{
        display: none;
    }
    .navmargin{
        justify-content: space-between;
    }
    #hero h1{
        font-size: 40px;
    }
    #grid{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .art1{
        order: 2;
    }
    .art2{
        order: 1;
    }
    .art3{
        order: 3;
    }
    .art4{
        order: 4;
    }
    .art5{
        order: 5;
    }
    .art6{
        order: 6;
    }
    .cardmargin{
        flex-direction: column;
    }
    #image-banner{
        grid-template-columns: repeat(2, 1fr);
    }
    .card{
        margin-bottom: 60px;
    }
    .card h2{
        margin-top: 40px;
    }
    #footer div:first-of-type{
        margin-top: 40px;
        display: flex;
        justify-content: space-evenly;
        width: 80%;
    }
    #dropdown ul{
        margin-top: 150px;
        flex-direction: column;
        align-items: center;
    }
    #dropdown ul li{
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        margin-right: 0px;
    }
    #dropdown ul li a{
        color: #808397;
        font-size: 20px;
    }
    #dropdown .button{
        background-color: #FBD600;
        font-family: 'Fraunces', serif;  
    }
    #dropdown .button a{
        color: black;
    }
}